{
	"openapi": "3.0.0",
	"info": {
		"title": "Quai JSON RPC API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://rpc.quai.network/cyprus1"
		}
	],
	"paths": {
		"/": {
			"post": {
				"summary": "quai_feeHistory",
				"description": "Returns the feeHistory for a given a block range, most recent block, and optional fee percentiles.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Request"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Response"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Request": {
				"type": "object",
				"required": ["jsonrpc", "method", "params", "id"],
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0",
						"enum": ["2.0"]
					},
					"method": {
						"type": "string",
						"description": "The name of the method to be invoked.",
						"example": "quai_feeHistory",
						"enum": ["quai_feeHistory"]
					},
					"params": {
						"type": "array",
						"items": {
							"oneOf": [{ "type": "string" }, { "type": "array", "minItems": 3, "maxItems": 3, "items": { "type": "integer" } }]
						},
						"description": "The block count, the latest block to be queried, and the fee percentiles.",
						"maxItems": 3,
						"minItems": 3,
						"example": ["0x2", "0x8", [2, 4, 6]]
					},
					"id": {
						"type": "integer",
						"description": "A unique identifier for the request.",
						"example": 1
					}
				}
			},
			"Response": {
				"type": "object",
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0"
					},
					"result": {
						"type": "object",
						"properties": {
							"oldestBlock": {
								"type": "string",
								"description": "The oldest block in the queried range."
							},
							"reward": {
								"type": "array",
								"items": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"description": "The reward for each percentile."
							},
							"baseFeePerGas": {
								"type": "array",
								"items": {
									"type": "string"
								},
								"description": "The base fee per gas for each percentile."
							},
							"gasUsedRatio": {
								"type": "array",
								"items": {
									"type": "number"
								},
								"description": "The gas used ratio for each percentile."
							}
						},
						"example": {
							"oldestBlock": "0x15d",
							"reward": [
								["0x3b9aca00", "0x3b9aca00", "0x3b9aca00"],
								["0x3b9aca00", "0x3b9aca00", "0x3b9aca00"]
							],
							"baseFeePerGas": ["0x12", "0x10", "0x1e"],
							"gasUsedRatio": [0.0441, 0.0023625]
						},
						"description": "Returns the feeHistory percentiles for the provided block range."
					},
					"id": {
						"type": "integer",
						"example": 1
					}
				}
			}
		}
	}
}
