{
	"openapi": "3.0.0",
	"info": {
		"title": "Quai JSON RPC API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://rpc.cyprus1.colosseum.quaiscan.io/"
		}
	],
	"paths": {
		"/": {
			"post": {
				"summary": "quai_estimateGas",
				"description": "Estimates the gas required to execute the given transaction",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Request"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Response"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Request": {
				"type": "object",
				"required": ["jsonrpc", "method", "params", "id"],
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0",
						"enum": ["2.0"]
					},
					"method": {
						"type": "string",
						"description": "The name of the method to be invoked.",
						"example": "quai_estimateGas",
						"enum": ["quai_estimateGas"]
					},
					"params": {
						"type": "array",
						"items": {
							"oneOf": [{ "type": "object" }, { "type": "string" }]
						},
						"description": "The transaction data to estimate gas for and the default block parameter.",
						"maxItems": 2,
						"minItems": 2,
						"example": [
							{
								"from": "0x03b1b2fcbaa6e4a3b44ac348b00ed0a68546d26b",
								"to": "0x1856f346b67615e9acb4dc3da6ebceb2bc2f8940",
								"data": "0xe3424c93"
							},
							"latest"
						]
					},
					"id": {
						"type": "integer",
						"description": "A unique identifier for the request.",
						"example": 1
					}
				}
			},
			"Response": {
				"type": "object",
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0"
					},
					"result": {
						"type": "string",
						"example": "0x5208",
						"description": "The gas estimate for transaction execution."
					},
					"id": {
						"type": "integer",
						"example": 1
					}
				}
			}
		}
	}
}
