{
	"openapi": "3.0.0",
	"info": {
		"title": "Quai JSON RPC API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "http://rpc.sandbox.quai.network:9200"
		}
	],
	"paths": {
		"/": {
			"post": {
				"summary": "quai_getRawTransactionByHash",
				"description": "Returns the bytecode for a raw transaction given its hash.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Request"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Response"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Request": {
				"type": "object",
				"required": ["jsonrpc", "method", "params", "id"],
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0",
						"enum": ["2.0"]
					},
					"method": {
						"type": "string",
						"description": "The name of the method to be invoked.",
						"example": "quai_getRawTransactionByHash",
						"enum": ["quai_getRawTransactionByHash"]
					},
					"params": {
						"type": "array",
						"description": "The transaction hash.",
						"items": {
							"type": "string"
						},
						"maxItems": 1,
						"minItems": 1,
						"example": ["0xc3b4ce64b533d33d6bbe48219ca980def6f336c263e3f3e1231aac526fc67ea3"]
					},
					"id": {
						"type": "integer",
						"description": "A unique identifier for the request.",
						"example": 1
					}
				}
			},
			"Response": {
				"type": "object",
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0"
					},
					"result": {
						"type": "string",
						"example": "0x00f86c82232824843b9aca00847735940482a410940a6c3c02911272b7afd8fae04a1b7c75cea618bb5b80c080a0b27316f74aa869af3b87dd5d222965c428e53fb26e278f0187c93f2dd88d8299a027fea9d6d7f11917a09962eb6bf5962b4c33160e44bf13445a851887ea6b2e1e",
						"description": "The raw transaction bytecode."
					},
					"id": {
						"type": "integer",
						"example": 1
					}
				}
			}
		}
	}
}
