{
	"openapi": "3.0.0",
	"info": {
		"title": "Quai JSON RPC API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "http://rpc.sandbox.quai.network:9200"
		}
	],
	"paths": {
		"/": {
			"post": {
				"summary": "quai_getTransactionByHash",
				"description": "Returns a transaction and its data for a given transaction hash.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Request"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Response"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Request": {
				"type": "object",
				"required": ["jsonrpc", "method", "params", "id"],
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0",
						"enum": ["2.0"]
					},
					"method": {
						"type": "string",
						"description": "The name of the method to be invoked.",
						"example": "quai_getTransactionByHash",
						"enum": ["quai_getTransactionByHash"]
					},
					"params": {
						"type": "array",
						"description": "The transaction hash.",
						"items": {
							"type": "string"
						},
						"maxItems": 1,
						"minItems": 1,
						"example": ["0xc3b4ce64b533d33d6bbe48219ca980def6f336c263e3f3e1231aac526fc67ea3"]
					},
					"id": {
						"type": "integer",
						"description": "A unique identifier for the request.",
						"example": 1
					}
				}
			},
			"Response": {
				"type": "object",
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0"
					},
					"result": {
						"type": "object",
						"properties": {
							"blockHash": {
								"type": "string",
								"description": "The hash of the block containing the transaction."
							},
							"blockNumber": {
								"type": "string",
								"description": "The number of the block containing the transaction."
							},
							"from": {
								"type": "string",
								"description": "The address of the sender."
							},
							"gas": {
								"type": "string",
								"description": "The gas limit."
							},
							"maxFeePerGas": {
								"type": "string",
								"description": "The maximum fee per gas."
							},
							"maxPriorityFeePerGas": {
								"type": "string",
								"description": "The maximum priority fee per gas."
							},
							"hash": {
								"type": "string",
								"description": "The hash of the transaction."
							},
							"input": {
								"type": "string",
								"description": "The optional transaction input data."
							},
							"nonce": {
								"type": "string",
								"description": "The nonce of the attraction."
							},
							"to": {
								"type": "string",
								"description": "The address of the recipient."
							},
							"transactionIndex": {
								"type": "string",
								"description": "The index of the transaction within the block."
							},
							"value": {
								"type": "string",
								"description": "The value sent in the transaction."
							},
							"type": {
								"type": "string",
								"description": "The transaction type."
							},
							"accessList": {
								"type": "array",
								"description": "The optional access list for the transaction."
							},
							"chainId": {
								"type": "string",
								"description": "The chain ID."
							},
							"v": {
								"type": "string",
								"description": "The recovery ID of the transaction."
							},
							"r": {
								"type": "string",
								"description": "The r value of the ECDSA transaction signature."
							},
							"s": {
								"type": "string",
								"description": "The s value of the ECDSA transaction signature."
							}
						},
						"example": {
							"blockHash": "0x000000ab1cdac1ed32f8fc362664652acbd84e4d82f8ad1cc7b5ac87390a1e9c",
							"blockNumber": "0x2fb",
							"from": "0x02e4dd4f66e018fd2bddf57467d4bb359d72b705",
							"gas": "0xa410",
							"maxFeePerGas": "0x77359404",
							"maxPriorityFeePerGas": "0x3b9aca00",
							"hash": "0xc3b4ce64b533d33d6bbe48219ca980def6f336c263e3f3e1231aac526fc67ea3",
							"input": "0x",
							"nonce": "0x24",
							"to": "0x0a6c3c02911272b7afd8fae04a1b7c75cea618bb",
							"transactionIndex": "0x2",
							"value": "0x5b",
							"type": "0x0",
							"accessList": [],
							"chainId": "0x2328",
							"v": "0x0",
							"r": "0xb27316f74aa869af3b87dd5d222965c428e53fb26e278f0187c93f2dd88d8299",
							"s": "0x27fea9d6d7f11917a09962eb6bf5962b4c33160e44bf13445a851887ea6b2e1e"
						},
						"description": "The raw transaction bytecode."
					},
					"id": {
						"type": "integer",
						"example": 1
					}
				}
			}
		}
	}
}
