{
	"openapi": "3.0.0",
	"info": {
		"title": "Quai JSON RPC API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://rpc.cyprus1.colosseum.quaiscan.io/"
		}
	],
	"paths": {
		"/": {
			"post": {
				"summary": "quai_getTransactionCount",
				"description": "Returns the total transaction count for a given address.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Request"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Response"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Request": {
				"type": "object",
				"required": ["jsonrpc", "method", "params", "id"],
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0",
						"enum": ["2.0"]
					},
					"method": {
						"type": "string",
						"description": "The name of the method to be invoked.",
						"example": "quai_getTransactionCount",
						"enum": ["quai_getTransactionCount"]
					},
					"params": {
						"type": "array",
						"description": "The address to get the transaction count for, the default block parameter",
						"items": {
							"type": "string"
						},
						"maxItems": 1,
						"minItems": 1,
						"example": ["0x0255b093f1c3c54d2d56af9909a9b8e6466f1926", "latest"]
					},
					"id": {
						"type": "integer",
						"description": "A unique identifier for the request.",
						"example": 1
					}
				}
			},
			"Response": {
				"type": "object",
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0"
					},
					"result": {
						"type": "string",
						"example": "0x26",
						"description": "The block transaction count for the given address at the given block."
					},
					"id": {
						"type": "integer",
						"example": 1
					}
				}
			}
		}
	}
}
