{
	"openapi": "3.0.0",
	"info": {
		"title": "Quai JSON RPC API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://rpc.quai.network/cyprus1"
		}
	],
	"paths": {
		"/": {
			"post": {
				"summary": "miner_setLockupByte",
				"description": "Sets the coinbase lockup duration for the miner.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Request"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Response"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Request": {
				"type": "object",
				"required": ["jsonrpc", "method", "params", "id"],
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0",
						"enum": ["2.0"]
					},
					"method": {
						"type": "string",
						"description": "The name of the method to be invoked.",
						"example": "miner_setLockupByte",
						"enum": ["miner_setLockupByte"]
					},
					"params": {
						"type": "array",
						"items": {
							"enum": ["0x0", "0x1", "0x2", "0x3"]
						},
						"description": "The lockup duration indicator.",
						"maxItems": 1,
						"minItems": 1,
						"example": ["0x1"]
					},
					"id": {
						"type": "integer",
						"description": "A unique identifier for the request.",
						"example": 1
					}
				}
			},
			"Response": {
				"type": "object",
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0"
					},
					"result": {
						"type": "boolean",
						"example": "true",
						"description": "An indicator of whether the request was successful."
					},
					"id": {
						"type": "integer",
						"example": 1
					}
				}
			}
		}
	}
}
