{
	"openapi": "3.0.0",
	"info": {
		"title": "Quai JSON RPC API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://rpc.cyprus1.colosseum.quaiscan.io/"
		}
	],
	"paths": {
		"/": {
			"post": {
				"summary": "txpool_status",
				"description": "Returns the current size of the transaction pool.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Request"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Response"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Request": {
				"type": "object",
				"required": ["jsonrpc", "method", "params", "id"],
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0",
						"enum": ["2.0"]
					},
					"method": {
						"type": "string",
						"description": "The name of the method to be invoked.",
						"example": "txpool_status",
						"enum": ["txpool_status"]
					},
					"params": {
						"type": "array",
						"description": "`txpool_status` does not require any params.",
						"maxItems": 0,
						"example": []
					},
					"id": {
						"type": "integer",
						"description": "A unique identifier for the request.",
						"example": 1
					}
				}
			},
			"Response": {
				"type": "object",
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0"
					},
					"result": {
						"type": "object",
						"properties": {
							"pending": {
								"type": "string",
								"description": "The amount of pending transactions in the txpool."
							},
							"queued": {
								"type": "object",
								"description": "The amount of queued transactions in the txpool."
							}
						},
						"example": {
							"pending": "0x15",
							"queued": "0x2"
						},
						"description": "The current size of the transaction pool sorted by status."
					},
					"id": {
						"type": "integer",
						"example": 1
					}
				}
			}
		}
	}
}
