{
	"openapi": "3.0.0",
	"info": {
		"title": "Quai JSON RPC API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://rpc.cyprus1.colosseum.quaiscan.io/"
		}
	],
	"paths": {
		"/": {
			"post": {
				"summary": "txpool_inspect",
				"description": "Returns a summarized form of the transaction pool content.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Request"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Response"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Request": {
				"type": "object",
				"required": ["jsonrpc", "method", "params", "id"],
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0",
						"enum": ["2.0"]
					},
					"method": {
						"type": "string",
						"description": "The name of the method to be invoked.",
						"example": "txpool_inspect",
						"enum": ["txpool_inspect"]
					},
					"params": {
						"type": "array",
						"description": "`txpool_inspect` does not require any params.",
						"maxItems": 0,
						"example": []
					},
					"id": {
						"type": "integer",
						"description": "A unique identifier for the request.",
						"example": 1
					}
				}
			},
			"Response": {
				"type": "object",
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0"
					},
					"result": {
						"type": "object",
						"example": {
							"pending": {
								"0x1902f834DFB6eC9421783E6333eD99faC9430dc2": {
									"287": "0x0F28EAb7521930d5439B2D94B8548901070eC92D: 9223372036854775807 wei + 21000 gas × 5000000000 wei"
								}
							},
							"queued": {}
						},
						"description": "The summarized transaction pool content."
					},
					"id": {
						"type": "integer",
						"example": 1
					}
				}
			}
		}
	}
}
