{
	"openapi": "3.0.0",
	"info": {
		"title": "Quai JSON RPC API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "http://rpc.sandbox.quai.network:9200"
		}
	],
	"paths": {
		"/": {
			"post": {
				"summary": "quai_nodeLocation",
				"description": "Returns the location of the node.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Request"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Response"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Request": {
				"type": "object",
				"required": ["jsonrpc", "method", "params", "id"],
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0",
						"enum": ["2.0"]
					},
					"method": {
						"type": "string",
						"description": "The name of the method to be invoked.",
						"example": "quai_nodeLocation",
						"enum": ["quai_nodeLocation"]
					},
					"params": {
						"type": "array",
						"description": "`quai_nodeLocation` does not require any params.",
						"maxItems": 0,
						"example": []
					},
					"id": {
						"type": "integer",
						"description": "A unique identifier for the request.",
						"example": 1
					}
				}
			},
			"Response": {
				"type": "object",
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0"
					},
					"result": {
						"type": "array",
						"example": ["0x1", "0x0"],
						"description": "The node location within the network, i.e. `[RegionId, ZoneId]`."
					},
					"id": {
						"type": "integer",
						"example": 1
					}
				}
			}
		}
	}
}
