{
	"openapi": "3.0.0",
	"info": {
		"title": "Quai JSON RPC API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://rpc.cyprus1.colosseum.quaiscan.io/"
		}
	],
	"paths": {
		"/": {
			"post": {
				"summary": "quai_fillTransaction",
				"description": "Given an unsigned transaction, fills the default parameters (nonce, gas, gasPrice, or other EIP1559 fields) and returns the transaction to be signed and broadcast.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Request"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Response"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Request": {
				"type": "object",
				"required": ["jsonrpc", "method", "params", "id"],
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0",
						"enum": ["2.0"]
					},
					"method": {
						"type": "string",
						"description": "The name of the method to be invoked.",
						"example": "quai_fillTransaction",
						"enum": ["quai_fillTransaction"]
					},
					"params": {
						"type": "array",
						"items": {
							"type": "object"
						},
						"description": "The transaction data to test execution for, the default block parameter.",
						"maxItems": 2,
						"minItems": 2,
						"example": [
							{
								"from": "0x421bc7323295c6b7f2f75fc4c854d4fb600e69e8",
								"to": "0x421bc7323295c6b7f2f75fc4c854d4fb600e69e8",
								"gas": "0x5208",
								"value": "0x10F2C",
								"data": "0xd46e8dd67c5d32be8d46e8dd67c5d32be8058bb8eb970870f072445675058bb8eb970870f072445675"
							}
						]
					},
					"id": {
						"type": "integer",
						"description": "A unique identifier for the request.",
						"example": 1
					}
				}
			},
			"Response": {
				"type": "object",
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0"
					},
					"result": {
						"type": "object",
						"properties": {
							"raw": {
								"type": "string",
								"description": "The raw transaction data."
							},
							"tx": {
								"type": "object",
								"description": "The filled transaction object.",
								"properties": {
									"type": {
										"type": "string",
										"description": "The transaction type."
									},
									"nonce": {
										"type": "string",
										"description": "The nonce of the transaction."
									},
									"gasPrice": {
										"type": "string",
										"description": "The gas price of the transaction."
									},
									"maxPriorityFeePerGas": {
										"type": "string",
										"description": "The max priority fee per gas of the transaction."
									},
									"maxFeePerGas": {
										"type": "string",
										"description": "The max fee per gas of the transaction."
									},
									"gas": {
										"type": "string",
										"description": "The gas of the transaction."
									},
									"value": {
										"type": "string",
										"description": "The value of the transaction."
									},
									"input": {
										"type": "string",
										"description": "The input data of the transaction."
									},
									"to": {
										"type": "string",
										"description": "The recipient of the transaction."
									},
									"accessList": {
										"type": "array",
										"items": {
											"type": "object"
										},
										"description": "The access list of the transaction."
									},
									"chainId": {
										"type": "string",
										"description": "The chain ID of the transaction."
									},
									"v": {
										"type": "string",
										"description": "The recovery ID of the transaction."
									},
									"r": {
										"type": "string",
										"description": "The r value of the ECDSA transaction signature."
									},
									"s": {
										"type": "string",
										"description": "The s value of the ECDSA transaction signature."
									},
									"hash": {
										"type": "string",
										"description": "The hash of the transaction."
									}
								}
							}
						},
						"example": {
							"raw": "0x00f85882053980843b9aca00843b9aca0282520894421bc7323295c6b7f2f75fc4c854d4fb600e69e883010f2ca9d46e8dd67c5d32be8d46e8dd67c5d32be8058bb8eb970870f072445675058bb8eb970870f072445675c0808080",
							"tx": {
								"type": "0x0",
								"nonce": "0x0",
								"gasPrice": null,
								"maxPriorityFeePerGas": "0x3b9aca00",
								"maxFeePerGas": "0x3b9aca02",
								"gas": "0x5208",
								"value": "0x10f2c",
								"input": "0xd46e8dd67c5d32be8d46e8dd67c5d32be8058bb8eb970870f072445675058bb8eb970870f072445675",
								"to": "0x421bc7323295c6b7f2f75fc4c854d4fb600e69e8",
								"accessList": [],
								"chainId": "0x539",
								"v": "0x0",
								"r": "0x0",
								"s": "0x0",
								"hash": "0x4dce4587131aeb2ef72a030159e2a706b94fb3db598787258a294b9be8d62c3a"
							}
						},
						"description": "The filled transaction object and the raw transaction hash."
					},
					"id": {
						"type": "integer",
						"example": 1
					}
				}
			}
		}
	}
}
