{
	"openapi": "3.0.0",
	"info": {
		"title": "Quai JSON RPC API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://rpc.cyprus1.colosseum.quaiscan.io/"
		}
	],
	"paths": {
		"/": {
			"post": {
				"summary": "quai_getUncleCountByBlockHash",
				"description": "Returns the uncle count for a given block hash.",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Request"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Response"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Request": {
				"type": "object",
				"required": ["jsonrpc", "method", "params", "id"],
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0",
						"enum": ["2.0"]
					},
					"method": {
						"type": "string",
						"description": "The name of the method to be invoked.",
						"example": "quai_getUncleCountByBlockHash",
						"enum": ["quai_getUncleCountByBlockHash"]
					},
					"params": {
						"type": "array",
            "description": "An array of values to pass to the method.",
						"items": {
              "type": "string"
            },
						"maxItems": 1,
            "minItems": 1,
						"example": ["0xc1e3510149e1ae278c6823ab116ec0b8b677c5871332b819a7d0a27d147f55bd"]
					},
					"id": {
						"type": "integer",
						"description": "A unique identifier for the request.",
						"example": 1
					}
				}
			},
			"Response": {
				"type": "object",
				"properties": {
					"jsonrpc": {
						"type": "string",
						"example": "2.0"
					},
					"result": {
						"type": "string",
						"example": "0x1",
						"description": "The uncle count for the given block hash."
					},
					"id": {
						"type": "integer",
						"example": 1
					}
				}
			}
		}
	}
}
